{
	"FileVersion": 3,
	"EngineAssociation": "__ENGINE__",
	"Category": "",
	"Description": "Refinery Digital Twin POC - CDU-100",
	"Plugins": [
		{ "Name": "PythonScriptPlugin", "Enabled": true },
		{ "Name": "EditorScriptingUtilities", "Enabled": true },
		{ "Name": "WebSocketNetworking", "Enabled": true }
	]
}
